<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        background-image: url("images/template_1.png");
        background-size: cover;
        overflow: hidden;
        background-attachment: fixed;
        background-position: center;
      }
      .container {
        margin-left: 800px;
        margin-top: 250px;
        font-family: "Montserrat";
      }
      .inputs {
        margin-top: 20px;
        border: none;
        border-bottom: 1px solid black;
        font-family: "Montserrat";
      }
      .button {
        margin-top: 20px;
        background-color: #6d3a3a;
        border: none;
        color: white;
        padding: 5px 5px;
        font-family: "Montserrat";
        border-radius: 5px;
      }
      .login {
        color: #6d3a3a;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Signup</h1>
      <form action="/signup" method="post">
        <input
          type="text"
          name="username"
          class="inputs"
          placeholder="Username"
          required
        /><br />
        <input
          type="password"
          name="password"
          class="inputs"
          placeholder="Password"
          required
        /><br />
        <button type="submit" class="button">Sign up</button>
        <br /><a href="/" class="login">Login</a>
      </form>
    </div>
  </body>
</html>
